.seat-selected {
    background-color: rgb(170, 170, 12) !important;

}

.seat-unavailable {
    background-color: #ccc !important;
}


.bus {
    display: flex;
    justify-content: left;
}

.inner {
    display: flex;
    justify-content: space-between;
    /*width: 1299px;*/
}

.rightside {
    margin-left: 20px;
}

.leftside,
.rightside {
    display: flex;
    flex-wrap: wrap;
}

.leftside div,
.rightside div  {
    width: 30px;
    height: 30px;
    background-color: rgb(36, 99, 181);
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 10px;
    cursor:pointer;
    /*border: 3px solid #d4a8ff;*/
}

/*.leftside div:hover,
.rightside div:hover {
    background-color: #d4a8ff;
    border: 5px solid #d4a8ff;
}


.selected,
.selected:hover {
    background-color: #7ace7d !important;
    border: 5px solid #37a262 !important;
}*/

#selectedseataDisplay{
    display: flex;
flex-wrap: wrap;
width: 200px;
height: 200px;
margin-top: 20px;
}

