* {
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
  }
  
  #search-form {
    border: 1px solid rgb(77, 74, 74);
    /*width: 1299px;*/
    position: relative;
    margin-top: 100px;
    margin-bottom: 339px;
  
  }
  
  #search {
    height: 80px;
    background:rgb(77, 74, 74);
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #search h1 {
    color: #FFF;
    margin-left: 20px;
    font-size: 1.3em
  }
  
  .flight {
    padding: 10px;
  }
  .flight input, select {
      color: #6B6A6A;
  }
  
  .info-box {
    padding: 10px 0;
    margin-top: 5px;
    flex: 3;
    border-right: 20px solid transparent;
    
  }
  .info-box:last-child {
    border-right: none;
  }
  .info-box label {
    display: block;
    color: #6B6A6A;
    font-size: .9em;
  }
  .info-box input[type=text], input[type=submit], select {
    border: none;
    outline: none;
    background: #E2E0E0;
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    height: 30px;
    border-radius: 3px;
  }
  
  #flight-type {
    display: flex;
    justify-content: flex-start;
    
  }
  #flight-type .info-box {
    flex: 0 1 25%;
    display:flex;
    align-items: center;
    border-bottom: 1px dotted silver;
    
  }
  
  #flight-depart {
    display: flex;
    justify-content: space-between;
    
  }
  #flight-depart .info-box {
    position: relative;
  }
  #depart-res, #arrive-res {
    position: absolute;
    background: #ffffff;
  }
  #depart-res p, #arrive-res p {
    padding: 7px 2px;
    
  }
  #depart-res p:hover, #arrive-res p:hover {
    background: #EDEDED;
    cursor: pointer;
  }
  
  #flight-dates {
    display: flex;
    border-right: 20px solid transparent;
    
  }
  
  #flight-info {
    display: flex;
    border-bottom: 1px dotted silver;
    border-top: 1px dotted silver;
    
  }
  
  #flight-search .info-box {
    display: flex;
    justify-content: center;
  }
  #flight-search input[type=submit] {
    background: #0d6efd;;
    color: white;
    padding: 0;
    height: 40px;
    font-size: 1.2em;
    width: 100px;
    
  }
  
  table {
    border: 1px solid #DBDBDB;
    background: #F4F4F4;
  }
  table td {
    border: 1px solid #DBDBDB;
    padding: 5px;
    text-align: center;
    cursor: pointer;
  }
  .normal {
    color: rgba(0,0,0,.8)
  }
  
  #confirm {
    width: 500px;
    padding: 20px;
    border: 5px solid #55AF3A;
    margin: 20px auto;
    opacity: 0;
  }
  #confirm h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  #confirm p {
    padding: 10px;
  }
  #confirm strong {
    font-weight: 600;
  }
  